<nav class="navbar navbar-expand-lg navbar-light">
	<button class="navbar-toggler navbar-toggler-right" type="button" ng-click="isCollapsed = !isCollapsed">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="container" collapse="isCollapsed">
		<a routerLink="/home" class="navbar-brand"><img src="assets/chatbot.png" alt="CCJ" height="60px"></a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a routerLink="/rules" class="nav-link">Démarches à suivre</a></li>
				<li class="nav-item"><a routerLink="/practices" class="nav-link">Bonnes pratiques</a></li>
				<li class="nav-item"><a routerLink="/emergency" class="nav-link">Numéros d'urgence</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/comment">Déposer un commentaire</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/comments">Rechercher un commentaire</a></li>
			</ul>
		</div>
	</div>
</nav>

<!--nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<!--button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button-->
