<div class="jumbotron">
	<h1>Bienvenue sur le site d'assistance aux accidentés de la route.</h1>


	<p>
		Quelle que soit votre situation, la PREMIÈRE chose à faire est d'appeler un des numéros d'urgence. Réferez-vous à
		<a routerLink="/emergency" >cette page</a>.
	</p>
	<div>
		<p>Que vous soyez témoin d'un accident de la route ou vous-même accidenté(e), veuillez trouver dans la liste ci-dessous la situation dans laquelle vous vous trouvez. Ainsi, notre équipe de chat-ssistants pourront vous assister pas à pas. Si vous avez des questions sans réponses, alors utilisez le chatbot (la fenêtre miniature) prévu à cet effet, nous vous répondrons dans la minute.
		</p>
		<ul>
			<li>Blessure grave</li>
			<li>Cas d'inconscience</li>
		</ul>
	</div>






</div>
